body {
    font-family: Arial, sans-serif;
    background-color: #8888;
    margin: 0;
    padding: 0;
}

.container {
    max-width: 600px;
    margin: 0 auto;
    padding: 20px;
    background-color: #eeee;
    border-radius: 5px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}

h1 {
    font-size: 24px;
    color: #333;
}

#username, #password {
    font-size: 32px;
    font-weight: bold;
    color: #007bff;
    margin-bottom: 20px;
}

#status {
    border-top: 1px solid #ccc;
    margin-top: 20px;
    padding-top: 10px;
}
